<% content_for :title, "Statsy: #{@topic.name}" %>
<div class="row">
	<div class="col-md-12">
		<h1><%= @topic.name %></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
		<p class="lead"><%= @topic.description %></p>
	</div>
</div>
<div class ="row">
	<div class ="col-md-8">
		<table class="table">
			<thead>
				<tr>
					<th>Value</th>
					<th>Type</th>
					<th>Date</th>
					<th>Source</th>
	  			<% if user_signed_in? %>
	  			<th></th>
	  			<% end %>
				</tr>
			</thead>
			<tbody>
			<% @quantities.each do |quantity| %>
		  	<% owns_child = false %>
		  	<%# check if this is a parent quantity %>
		  	<% if quantity.parent_id.blank? == true %>
		  		<% quantity.quantities.each do |child_quantity| %>
		  			<% if child_quantity.user_id == current_user.id %>
		  				<% owns_child = true %>
		  				<% break %>
		  			<% else %>
		  				<% owns_child = false %>
		  			<% end %>
		  		<% end %>
		  		<% if owns_child == false %>
					<tr>
						<td>
	 			  		<% if quantity.unit_id == 1 %>
	 			  			<%= quantity.number*100 %> %
	 			  		<% else %>
	 			  			<%= number_to_human quantity.number %>
	 			  		<% end %>
						</td>
						<td>
							<% if quantity.quantity_type_id.blank? == false %>
		 			  		<% @quantity_type = QuantityType.find quantity.quantity_type_id %>
		 			  		<%= @quantity_type.name %>
		 			  	<% end %>
						</td>
						<td>
							<% if quantity.date.blank? == false %>
	 			  			<%= quantity.date.strftime("%B %d, %Y") %>
	 			  		<% end %>
						</td>
						<td>
							<% quantity.sources.each do |source| %>
		 			  	<a href="<%= source.URL %>"><%= source.title %></a>
		 			  	<% end %>
						</td>	
						<% if user_signed_in? && quantity.user_id != current_user.id %>
	  				<td align="right">
  					<%= form_for :quantity, url: {action: "clone"}, remote: true do |f| %>
  						<%= f.hidden_field :id, value: quantity.id %>
  						<%= f.submit "Add", class: "btn btn-default" %>
  					<% end %>
	  				</td>
	  				<% else %>
	  				<td></td>
		  			<% end %>
					</tr>
					<% end %>
				<% else %>
		  		<%# don't print if child has a parent the user owns %>
		  		<% if Quantity.exists?(quantity.parent_id) == true && Quantity.find(quantity.parent_id).user_id == current_user.id %>
		  		<% else %>
		  		<tr>
 			  		<td>
 			  			<% quantity.topics.each do |topic| %>
 			  		    <a href="/topics/<%= topic.name %>"><%= topic.name %></a>
 			  		  <% end %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.unit_id == 1 %>
 			  				<%= quantity.number*100 %> %
 			  			<% else %>
 			  				<%= number_to_human quantity.number %>
 			  			<% end %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.quantity_type_id.blank? == false %>
	 			  			<% @quantity_type = QuantityType.find quantity.quantity_type_id %>
	 			  			<%= @quantity_type.name %>
	 			  		<% end %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.date.blank? == false %>
 			  				<%= quantity.date.strftime("%B %d, %Y") %>
 			  			<% end %>
 			  		</td>
 			  		<td>
 			  			<% quantity.sources.each do |source| %>
	 			  			<a href="<%= source.URL %>"><%= source.title %></a>
	 			  		<% end %>
 			  		</td>
 			  		<% if user_signed_in? && quantity.user_id != current_user.id %>
	  				<td align="right">
	  					<%= form_for :quantity, url: {action: "clone"}, remote: true do |f| %>
	  						<%= f.hidden_field :id, value: quantity.id %>
	  						<%= f.submit "Add", class: "btn btn-default" %>
	  					<% end %>
	  				</td>
	  				<% else %>
	  				<td></td>
	  				<% end %>
 			  	</tr>
					<% end %>
		 		<% end %>
 			<% end %>
			</tbody>
		</table>
		<%= paginate @quantities %>
	</div>
	<div class="col-md-4">
		<table class="table">
			<thead>
				<tr>
					<th>Chart name</th>
				</tr>
			</thead>
			<tbody>
			<% chart_ids = Array.new %>
			<% @quantities.each do |quantity| %>
		  	<% quantity.datasets.each do |dataset| %>
		  		<% dataset.charts.each do |chart| %>
		  	  	<% if chart_ids.include?(chart.id) == false %>
		  	  		<tr>
		  	  			<td><a href="/charts/<%= chart.id %>"><%= chart.name %></a></td>
		  	  		</tr>
		  	  		<% chart_ids.push(chart.id) %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
			</tbody>
		</table>
	</div>
</div>