<div class="table-responsive">
  <table class="table">
  	<thead>
  		<tr>
  			<th>Topic</th>
  			<th>Value</th>
  			<th>Type</th>
  			<th>Date</th>
  			<th>Source</th>
  		</tr>
  	</thead>
  	<tbody>
			<% @topics.each do |topic| %>
 			  <% topic.quantities.each do |quantity| %>
 			  	<tr>
 			  		<td>
 			  			<% quantity.topics.each do |topic| %>
 			  		    <%= topic.name %>
 			  		  <% end %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.unit_id == 1 %>
 			  				<%= quantity.number*100 %> %
 			  			<% end %>
 			  		</td>
 			  		<td>
 			  			<% @quantity_types = QuantityType.take(quantity.id) %>
 			  			<% @quantity_types.each do |quantity_type| %>
 			  			  <%= quantity_type.name %>
 			  			<% end %>
 			  		</td>
 			  		<td><%= quantity.date %></td>
 			  		<td>
 			  			<% @sources = Source.take(quantity.id) %>
 			  			<% @sources.each do |source| %>
 			  				<a href="<%= source.URL %>"><%= source.title %></a>
 			  			<% end %>
 			  		</td>
 			  	</tr>
 			  <% end %>
			<% end %>
  	</tbody>
  </table>
</div>

<!--

Quantity:

topics, value, quantity type

Charts:

embed actual charts

-->