<div class="row">
	<h1>Search results: <%= params[:keywords] %></h1>
	<%= form_tag("/search", method: "get", class: "form-inline", role: "form", style: "margin: 15px 0px") do %>
		<div class="form-group">
			<%= label_tag :search, "Search", class: "sr-only" %>
			<%= text_field_tag :keywords, nil, class: "form-control", id: "search" %>
		</div>
		<div class="form-group">
			<label class="radio-inline" for="type_stats">
				<%= radio_button_tag :type, "Stats" %> Stats
			</label>
			<label class="radio-inline" for="type_charts">
				<%= radio_button_tag :type, "Charts" %> Charts
			</label>
		</div>
		<%= submit_tag "Search", class: "btn btn-default" %>
	<% end %>
</div>
<% if params[:type] == "Stats" %>
<div class="row">
	<div class="table-responsive">
	  <table class="table">
	  	<thead>
	  		<tr>
	  			<th>Topic</th>
	  			<th>Value</th>
	  			<th>Type</th>
	  			<th>Date</th>
	  			<th>Source</th>
	  		</tr>
	  	</thead>
	  	<tbody>	
 			  <% @quantities.each do |quantity| %>
 			  	<tr>
 			  		<td>
 			  			<% quantity.topics.each do |topic| %>
 			  		    <%= topic.name %>
 			  		  <% end %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.unit_id == 1 %>
 			  				<%= quantity.number*100 %> %
 			  			<% else %>
 			  				<%= number_to_human quantity.number %>
 			  			<% end %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.quantity_type_id.blank? == false %>
	 			  			<% @quantity_type = QuantityType.find quantity.quantity_type_id %>
	 			  			<%= @quantity_type.name %>
	 			  		<% end %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.date.blank? == false %>
 			  				<%= quantity.date.strftime("%B %d, %Y") %>
 			  			<% end %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.source_id.blank? == false %>
	 			  			<% @source = Source.find quantity.source_id %>
	 			  			<a href="<%= @source.URL %>"><%= @source.title %></a>
	 			  		<% end %>
 			  		</td>
 			  	</tr>
 			  <% end %>
 			  <tr>
 			  	<td colspan="5">
 			  		<h3>Not what you what? Add a new <a href="/backyard/quantity/new" target="_blank">stat</a>.</h3>
 			  	</td>
 			  </tr>
	  	</tbody>
	  </table>
	</div>
</div>
<% else %>
	<% chart_ids = Array.new %>
	<% chart_count = 0 %>
	<% @quantities.each do |quantity| %>
	  <% quantity.datasets.each do |dataset| %>
	  	<% dataset.charts.each do |chart| %>
	  	  <% if chart_ids.include?(chart.id) == false %>
	  	  	<% if chart_count == 0 %>
	  	  	  <div class="row">
	  	  	  	<div class="col-sm-6">
					  	  <iframe id= "chart-<%= chart.id %>" src="/charts/embed/<%= chart.id %>" width="100%" height="400px" style="border-width:0" scrolling="no"></iframe>
					  	  <p><a href="/charts/<%= chart.id %>" target="_blank">View more</a></p>
					  	</div>
					  <% chart_ids.push(chart.id) %>
					  <% chart_count = 1 %>
					<% else %>
							<div class="col-sm-6">
					  	  <iframe id= "chart-<%= chart.id %>" src="/charts/embed/<%= chart.id %>" width="100%" height="400px" style="border-width:0" scrolling="no"></iframe>
					  	  <p><a href="/charts/<%= chart.id %>" target="_blank">View more</a></p>
					  	</div>
					  	<hr>
					  </div>
					  <% chart_ids.push(chart.id) %>
					  <% chart_count = 0 %>
					<% end %>
		  	<% end %>
	  	<% end %>
	  <% end %>
	<% end %>
	<% if chart_count != 0 %>
						</div>
	<% end %>
	<h3>Not what you what? Add a new <a href="/backyard/chart/new" target="_blank">chart</a>.</h3>
<% end %>
<div class="row">
	<%= paginate @quantities %>
</div>