<div class="table-responsive">
  <table class="table">
  	<thead>
  		<tr>
  			<th>Topic</th>
  			<th>Value</th>
  			<th>Type</th>
  			<th>Date</th>
  			<th>Source</th>
  		</tr>
  	</thead>
  	<tbody>
			<% @topics.each do |topic| %>
 			  <% topic.quantities.each do |quantity| %>
 			  	<tr>
 			  		<td>
 			  			<% quantity.topics.each do |topic| %>
 			  		    <%= topic.name %>
 			  		  <% end %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.unit_id == 1 %>
 			  				<%= quantity.number*100 %> %
 			  			<% else %>
 			  				<%= quantity.number %>
 			  			<% end %>
 			  		</td>
 			  		<td>
 			  			<% @quantity_type = QuantityType.find quantity.quantity_type_id %>
 			  			<%= @quantity_type.name %>
 			  		</td>
 			  		<td>
 			  			<% if quantity.date.blank? == false %>
 			  				<%= quantity.date.strftime("%B %d, %Y") %>
 			  			<% end %>
 			  		</td>
 			  		<td>
 			  			<% @source = Source.find quantity.source_id %>
 			  			<a href="<%= @source.URL %>"><%= @source.title %></a>
 			  		</td>
 			  	</tr>
 			  <% end %>
			<% end %>
  	</tbody>
  </table>
</div>

<!--

Quantity:

topics, value, quantity type

Charts:

embed actual charts

-->