<% data = Array.new %>
<script>

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    <% data_count = 0 %>

    // bar chart
    <% if @chart.chart_type_id == 2 %>
      data.addColumn('string', 'Name');
      data.addColumn('number', '<%= QuantityType.find(@chart.datasets.take.quantities.take.quantity_type_id).name %>');
      <% @chart.datasets.take.quantities.each do |quantity| %>
        <% quantity.topics.each do |topic| %>
          <% @chart.topics.each do |chart_topic| %>
            <% if topic.name == chart_topic.name %>
              <% data.push([topic.name, quantity.number.to_f]) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% sorted_data = data.sort { |a,b| b[1] <=> a[1]} %>
      data.addRows(<%= sorted_data.to_json.html_safe %>);

    // line chart
    <% elsif @chart.chart_type_id == 4 %>

      // add columns first. Each column represents one object. Each data point separated by time.
      data.addColumn('date', 'Date');
      <% @chart.datasets.each do |dataset| %>

        // chart takes reference from first dataset for date. Which means it doesn't matter what dates are the other data points as long as they're in order.
        <% dataset.quantities.first.topics.each do |topic| %>
          <% @chart.topics.each do |chart_topic| %>
            <% if topic.name == chart_topic.name %>
              data.addColumn('number', '<%= topic.name %>');
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      // add placeholder arrays first dataset
      <% @chart.datasets.first.quantities.order("date").each do |quantity| %>

        // convert Ruby date to Javascript date
        var javascript_date = new Date(<%= Time.parse(quantity.date.to_s).utc.to_i*1000 %>)
        var date<%= data_count %> = [javascript_date];
        <% data_count += 1 %>
      <% end %>

      // fill in data for each array
      <% @chart.datasets.each do |dataset| %>
        <% data_count = 0 %>
        <% dataset.quantities.order("date").each do |quantity| %>
          date<%= data_count %>.push(<%= quantity.number %>);
          <% data_count += 1 %>
        <% end %>
      <% end %>

      // add each array to overall data array
      var row_data = [];
      <% (1..data_count).each do |i| %>
        row_data.push(date<%= i-1 %>);
      <% end %>

      data.addRows(row_data);

    // Geochart
    <% elsif @chart.chart_type_id == 5 %>
      data.addColumn('string', 'Country');
      <% @chart.datasets.each do |dataset| %>
        <% if dataset.quantities.first.quantity_type_id.blank? == false %>
          data.addColumn('number', '<%= QuantityType.find(dataset.quantities.first.quantity_type_id).name %>');
        <% else %>
          data.addColumn('number', 'Amount');
        <% end %>
      <% end %>
      // match quantity topic to chart topic. If match, add data to arrays
      <% @chart.datasets.each do |dataset| %>
        <% data_count = 0 %>
        <% dataset_count = 0 %>
        <% dataset.quantities.each do |quantity| %>
          <% quantity.topics.each do |topic| %>
            <% @chart.topics.each do |chart_topic| %>
              <% if topic.name == chart_topic.name %>
                // country name only needs to be added once
                <% if dataset_count == 0 %>
                  var data<%= data_count %> = ["<%= topic.name %>"];
                <% end %>
                data<%= data_count %>.push(<%= quantity.number %>);
                <% data_count += 1 %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% dataset_count += 1 %>
      <% end %>
      var row_data = [];
      <% (1..data_count).each do |i| %>
        row_data.push(data<%= i-1 %>);
      <% end %>
      data.addRows(row_data);
    <% end %>

    <% if @chart.chart_type_id == 5 %>
      <% chart_height = 550 %>
    <% else %>
      <% chart_height = @chart.datasets.first.quantities.count * 50 + 90 %>
    <% end %>

    // Set chart options
    var options = {
                   'width':'100%',
                   'height': <%= chart_height %>,
                   'colors':<%= @chart.colors.to_json.html_safe %>,
                   titleTextStyle: {fontSize: 16},
                   <% if @chart.datasets.count == 1 %>
                   legend: { position: "none" },
                   <% end %>
                   'fontName': 'Helvetica Neue',
                   <% if @chart.datasets.first.quantities.first.unit_id == 1 %>
                     hAxis: {format: '##%'},
                   <% end %>
                   <% if @chart.tooltip == false %>
                    'tooltip': {trigger: 'none'},
                   <% end %>
                    chartArea: {top:20},
                    pointSize: 5,
                  <% if @chart.chart_type_id == 5 %>
                    colorAxis: {colors: <%= @chart.colors.to_json.html_safe %>}
                  <% end %>
                  };

    // If number = percentage
    <% if @chart.datasets.first.quantities.first.unit_id == 1 %>          
      var formatter = new google.visualization.NumberFormat({pattern:'#,###.##%'});
    <% elsif @chart.datasets.first.quantities.first.unit_id == 2 %>
      var formatter = new google.visualization.NumberFormat({prefix: 'US$', pattern:'#,###.##'});
    <% else %>
      var formatter = new google.visualization.NumberFormat({pattern:'#,###.##'});
    <% end %>
    formatter.format(data, 1);

    // Instantiate and draw our chart, passing in some options.
    <% if @chart.chart_type_id == 2 %>
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    <% elsif @chart.chart_type_id == 4 %>
      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    <% elsif @chart.chart_type_id == 5 %>
      var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
    <% end %>      
    chart.draw(data, options);
  }
</script>
<h4>
  <% if @chart.datasets.first.quantities.first.unit_id == 2 %>  
  <%= @chart.name + " (US$)" %>
  <% else %>
  <%= @chart.name %>
  <% end %>
</h4>
<div id="chart_div"></div>